#composer lock file
composer.lock

# php cs fixer cache file
.php_cs.cache
.idea/
.env
.phpunit.result.cache

/node_modules
/public/hot
/public/storage

# Oauth Key
/storage/*.key
# Third Party bundle
/vendor
.env.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
